<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>RSSReader</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Centered nav only <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container text-center">
        <p><h1>RSS reader</h1></p>
        <p><h4>RSS reader is a servise which receives RSS URL and show results in human-readable format</h4></p>
    </div>
    <div class="container" style="margin-top: 150px;">
        <div class="align-items-center justify-content-center">
            <form method="get">

                <div class="container col-10">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">https://</span>
                        </div>
                      <input type="text" class="form-control" placeholder="Input URL" aria-label="Recipient's username" aria-describedby="button-addon2" name="url" value="{{ request.args.get("url", None) }}">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Parse</button>
                      </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for="basic-url">Input num limit</label>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">--limit</span>
                              </div>
                              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name="limit" value="{{ request.args.get("limit", None) }}">
                            </div>
                        </div>
                        <div class="col">
                            <label for="basic-url">Input date</label>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">YYMMDD format</span>
                              </div>
                              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon4" name="date" value="{{ request.args.get("date", None) }}">
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row align-items-center">
                            <input type="checkbox" class="form-check-input" id="dropdownCheck" name="to_pdf" value="{{ request.args.get("to_pdf", False) }}">
                            <label class="form-check-label" for="dropdownCheck">
                                Convert to PDF file?
                            </label>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>